header {
    width: 100%;
    height: 100vh;

    /*    RECORTE DE FORMA*/
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    -ms-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);

    /*    COLOR DE GRADIENTE*/
    background: rgba(18, 112, 227, 1);
    background: -moz-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(18, 112, 227, 1)), color-stop(100%, rgba(89, 194, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: linear-gradient(to right, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1270e3', endColorstr='#59c2ff', GradientType=1);




}
.img-responsive{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.img-responsiveuno{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.contenedor {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    height: 100%
}

nav {
    display: flex;
    /*
    flex-direction: row;
    flex-wrap: wrap;
*/

    flex-flow: row wrap;

    flex-basis: 100%;

    justify-content: space-between;

    align-items: center;

    height: 70px;

}

#logonav {
    flex: 0 1 120px;
}

#menudesktop {
    display: flex;
    flex: 0 1 50%;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    align-items: center

}

#menudesktop a {
    text-decoration: none;
    color: white;
    font-family: helvetica;
    font-size: 14px;
}

a.buy {
    display: flex;
    width: 100px;
    height: 35px;
    justify-content: center;
    align-items: center;

    background: rgba(247, 237, 52, 1);
    background: -moz-linear-gradient(left, rgba(247, 237, 52, 1) 0%, rgba(255, 111, 0, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247, 237, 52, 1)), color-stop(100%, rgba(255, 111, 0, 1)));
    background: -webkit-linear-gradient(left, rgba(247, 237, 52, 1) 0%, rgba(255, 111, 0, 1) 100%);
    background: -o-linear-gradient(left, rgba(247, 237, 52, 1) 0%, rgba(255, 111, 0, 1) 100%);
    background: -ms-linear-gradient(left, rgba(247, 237, 52, 1) 0%, rgba(255, 111, 0, 1) 100%);
    background: linear-gradient(to right, rgba(247, 237, 52, 1) 0%, rgba(255, 111, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7ed34', endColorstr='#ff6f00', GradientType=1);
    border-radius: 30px;

    color: #2c2c2c!important;

    text-decoration: none;

}

body {
        font-family: 'openli';
    font-size: 14px

}

h1,h2,h3.h4.h5,h6{
        font-family: 'open_bold';
}


.bold{
    font-family: 'open_bold';
}

#contenedor-header {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;

    align-items:flex-start;
    height: 80vh;

}

#relojheader {
    flex: 0 1 100%;
    align-self: flex-start;
    max-width: 250px;
    order: 2
}

#txtreloj {
    flex: 0 1 100%;
    align-self: flex-start;
    color: white;
    padding-bottom: 50px;
    line-height: 23px



}

#txtreloj h2 {
    font-size: 2rem;
    letter-spacing: 0;
        line-height: 40px
}


.contenedor-features {
    height: 100%;
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2rem 0;
}


#hloco {
    font-size: 2.5rem;
    flex-basis: 100%;
    text-align: center;
    color: #707070;


}
#hlocobl {
    font-size: 2.5rem;
    flex-basis: 100%;
    text-align: center;
    color: white;


}

#ploco {
    text-align: center;
    flex-basis: 100%;

    margin-bottom: 4rem;
    color: #707070;
}
#plocobl {
    text-align: center;
    flex-basis: 100%;
    padding: 0 1.5rem;

    color: white;
}

.boxfeatures {
    margin: 1rem 0;
    flex: 0 1 calc(100% - 1rem);

}

.serv-icon {
    width: 50%;
    max-height: 100px;
    margin: 0 auto;
    display: block;
}

.boxfeatures h3 {
    text-align: center;
    font-size: 2rem;
}

.boxfeatures p {
    text-align: center;
    margin-bottom: 4rem;
}

.full {
    width: 100%;
    height: auto;
    margin: 2rem 0;
    padding: 3rem 0;
    padding-bottom: 0rem
}

#product {
    background: rgba(245,49,127,1);
background: -moz-linear-gradient(left, rgba(245,49,127,1) 0%, rgba(255,124,110,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,49,127,1)), color-stop(100%, rgba(255,124,110,1)));
background: -webkit-linear-gradient(left, rgba(245,49,127,1) 0%, rgba(255,124,110,1) 100%);
background: -o-linear-gradient(left, rgba(245,49,127,1) 0%, rgba(255,124,110,1) 100%);
background: -ms-linear-gradient(left, rgba(245,49,127,1) 0%, rgba(255,124,110,1) 100%);
background: linear-gradient(to right, rgba(245,49,127,1) 0%, rgba(255,124,110,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5317f', endColorstr='#ff7c6e', GradientType=1 );
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);
    -moz-clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);
    -ms-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%)
}

#product h2 {
     font-size: 2.5rem;
    text-align: center;
    color: white;
    flex-basis: 100%;
    order: 2;
}
.imgproduct {
    flex-basis: 100%;
    order: 1;
    padding-top: 12rem;
    max-width: 500px
}

.txtProduct {
    flex-basis: 100%;
    order: 3;
}

.txtIcon {
    color: white;
    flex: 0 1 80%;
}


.descriptionProduct {
    flex-direction: row wrap;
    flex: 0 1 100%;
    justify-content: space-around;
    align-content: space-around;
    display: flex;
}

.iconProduct {
    flex: 0 1 15%;
    max-width: 60px;
    padding: 1rem

}

.separador {
    width: 100%;
    height: auto;
    padding: 3rem;
    box-sizing: border-box;
}







#products {
    width: 100%;
    height: auto;
    padding: 5rem 0;
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);
    -moz-clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);
    -ms-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
   background: rgba(130,54,245,1);
background: -moz-linear-gradient(left, rgba(130,54,245,1) 0%, rgba(39,201,230,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(130,54,245,1)), color-stop(100%, rgba(39,201,230,1)));
background: -webkit-linear-gradient(left, rgba(130,54,245,1) 0%, rgba(39,201,230,1) 100%);
background: -o-linear-gradient(left, rgba(130,54,245,1) 0%, rgba(39,201,230,1) 100%);
background: -ms-linear-gradient(left, rgba(130,54,245,1) 0%, rgba(39,201,230,1) 100%);
background: linear-gradient(to right, rgba(130,54,245,1) 0%, rgba(39,201,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8236f5', endColorstr='#27c9e6', GradientType=1 );
}

.cajaProduct {
    flex-basis: 100%;
    max-width: 300px;
    justify-content: center;
    margin: 0 auto
}

.titleProduct {
    text-align: center;
    color: white;
    font-size: 18px;
}

.precio {
    text-align: center;
    color: white;
    font-size: 18px;
}

.btnProduct {
    display: flex;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    width: 80px;
    height: 30px;
    justify-content: center;
    padding-top: ;
    border-radius: 30px;
    align-items: center;
    margin: 0 auto;

}

/*ESTILOS DE CONTACTO*/

.formIcon I {
    font-size: 1.75rem;
    color: #707070;
}

.box50 {
    display: flex;
    flex-basis: 100%;
    flex-flow: column;

}

#contacto {
    width: 100%;
    height: auto;
    padding: 5rem 0;
}

.row {
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    margin-bottom: 1rem;
    justify-content: space-around;
}

.nombre {
    display: flex;
    flex-basis: 20px;
    align-items: center;
    justify-content: center;

}

.campo {
    display: flex;
    flex-basis: 70%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around
}

.formIcon {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end
}

.formInput {
    flex-basis: 80%;
    display: flex;
    justify-content: flex-start;
}
